.git
.gitignore
.venv
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
data/uploads
data/outputs
data/**/*.wav
data/**/*.mp4
data/**/*.mov
data/**/*.mkv
data/**/*.avi
data/**/*.webm
data/**/*.m4v
data/**/*.wmv
data/**/*.flv
data/**/*.mpeg
data/**/*.mpg
data/**/*.3gp